<h2 class="color">Welcome <%=current_user.capitalize%></h2>

<div id="date" class="color"></div>

<div class= "admin">
  <% if current_user.admin%>
    <h3>ADMIN</h3>
  <%end%>
</div>

<h3><%= link_to "Create New Project", new_project_path(@project) %></h3>
<br>

<button id="post-data-open-projects" class="button">Open Projects</button>
<br>
<br>

<div style="overflow-x:auto;">
  <div class="scrollit">
    <table id="table-js" >
      <tr>
        <th>Project Name</th>
        <th>Description</th>
        <th>Client Name</th>
        <th>Target Completion Date</th>
        <th>Completion Date</th>
      </tr>
      <tbody class="open-data">
      <!-- here goes our data! -->
      </tbody>
    </table>
  </div>
</div>

<br>
<br>
<button id="post-data-completed-projects" class="button">Completed Projects</button>
<br>
<br>

<div style="overflow-x:auto;">
  <div class="scrollit">
    <table id="table-js" >
      <tr>
        <th>Project Name</th>
        <th>Description</th>
        <th>Client Name</th>
        <th>Target Completion Date</th>
        <th>Completion Date</th>
      </tr>
      <tbody class="completed-data">
      <!-- here goes our data! -->
      </tbody>
    </table>
  </div>
</div>

<br>
<br>
<button id="post-data-all-projects" class="button">All Projects</button>
<br>
<br>
<!-- <button id="hide-data-all-projects" class="button button2">Hide Projects</button>
<br>
<br> -->

<div style="overflow-x:auto;">
  <div class="scrollit">
    <table id="table-js" >
      <tr>
        <th>Project Name</th>
        <th>Description</th>
        <th>Client Name</th>
        <th>Target Completion Date</th>
        <th>Completion Date</th>
      </tr>
      <tbody class="all-data">
      <!-- here goes our data! -->
      </tbody>
    </table>
  </div>
</div>
