<h2>Welcome <%=current_user.capitalize%></h2>

<div class="date">

</div>


<div class= "admin">
  <% if current_user.admin%>
    <h3>ADMIN</h3>
  <%end%>
</div>

<h3><%= link_to "Create New Project", new_project_path(@project) %></h3>
<br>

<button id="post-data-all-projects">All Projects</button>
<br>
<br>
<table id="table-js">
  <tr>
    <th>Project Name</th>
    <th>Description</th>
    <th>Client Name</th>
    <th>Target Completion Date</th>
    <th>Completion Date</th>
    <th>Comments</th>
  </tr>
  <!-- here goes our data! -->
</table>
